body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
}

.cardContainer {
	text-align: center;
}

.card {
	display: inline-block;
	width: 350px;
	height: 206px;
	margin: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
	border: solid 1px #888888;
	box-shadow: 3px 3px 1.5px #888888;
	cursor: pointer;
}

.avatar {
	display: inline-block;
	text-align: left;
}

.cardInfo {
	display: inline-block;
	vertical-align: text-bottom;
	padding-left: 20px;
	text-align: left;
}

.catchPhrase {
	font-style: italic;
	max-width: 145px;
  font-size: 12px;
	padding-bottom: 50px;
}

.userName {
	font-weight: bolder;
	font-size: 13px;
	color: #294762;
	opacity: 100%;
}

.email {
	font-size: 12px;
}

.clickACard {
	width: 100%;
	text-align: center;
}

.clickACardText {
	margin: auto;
	width: 94.5%;
	border: solid 1px #888888;
	box-shadow: 3px 3px 1.5px #888888;
}

.postsContainer {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.posts {
	margin: auto;
	width: 94.5%;
	border: solid 1px #888888;
	box-shadow: 3px 3px 1.5px #888888;
}

.post {
	margin: 10px;
	border-bottom: solid 1px #888888;
	text-transform: capitalize;
	font-size: 14px;
}

.post:first-child {
	font-size: 18px;
}

.post:last-child {
	border-bottom: none;
}

.postTitle {
	font-style: italic;
}

.postBody {
	font-size: 12px;
}
