/*this is the FE challenge css file*/
body {
	margin: 0;
	padding: 0;
}

.cardContainer {
	text-align: center;
}

.card {
	display: inline-block;
	width: 350px;
	height: 206px;
	margin: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
	border: solid 1px #888888;
	box-shadow: 3px 3px 1.5px #888888;
}

.avatar {
	display: inline-block;
	text-align: left;
}

.cardInfo {
	display: inline-block;
	vertical-align: text-bottom;
	padding-left: 20px;
	text-align: left;
}

.catchPhrase {
	font-style: italic;
	font-size: 11px;
	padding-bottom: 60px;
}

.userName {
	font-weight: bolder;
	font-size: 13px;
	color: #294762;
	opacity: 100%;
}

.email {
	font-size: 11px;
}

.clickACard {
	width: 100%;
	text-align: center;
}

.clickACardText {
	margin: auto;
	width: 94.5%;
	border: solid 1px #888888;
	box-shadow: 3px 3px 1.5px #888888;
}

.postsContainer {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.posts {
	margin: auto;
	width: 94.5%;
	border: solid 1px #888888;
	box-shadow: 3px 3px 1.5px #888888;
}

.post {
	margin: 10px;
	border-bottom: solid 1px #888888;
}
